
*{ /* resetar porque por padrão alguns navegadores já vem predefinido */
    margin: 0; /* para tirar a barra na parte inferior */
    padding: 0;
    box-sizing: border-box;
}

body {
    position: static; /* por padrão já vem static */
    width: 100%;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    /* font-family: verdana */
    /*font-family: Optima, sans-serif;*/
    /*font-family: Gill Sans, sans-serif;*/
    /*font-family: Trebuchet MS, sans-serif;*/
    /*font-family: Arial Narrow, sans-serif;*/
    /*font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;*/
    font-family: Noto Sans, sans-serif;
    font-style: normal; /* normal,italic,oblique */
    font-weight: 200px;
    font-variant: normal; /* normal,small-caps */
    font-stretch: normal; /* condensed,semi-condensed,normal,semi-expanded,expanded */
    background: auto;
}

header {
    position: static;
    width: 300mm;
    height: 40px;
    background-color: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8mm;
    margin-bottom: 3mm;

    text-transform: uppercase;
    text-decoration: none;  /*underline*/
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font: auto;
    letter-spacing: 1px;
    line-height: 20px;
    padding-left: 15px;
    padding-top: 0px;
    color: auto;
}

/* Seletor de idioma */
/* https://stackoverflow.com/questions/59196117/toggle-language-between-divs */
div.idioma {
  display: none;
}

div.idioma.ativo {
  display: block;
}

a.mudar-idioma {
  display: inline-block;
  width: 35px;
  height: 25px;

  padding: 1px 6px;
  border: 1px solid;
  text-decoration: none;
  border-radius: 0px;

  background-color: auto;
  color: auto;

  margin-top: 12px;
}

div.idioma-seletor {
  position: static;
  width: 110px;
  float: right;
}

/* Titulo */
.titulo {
  position: static;
  float: left;
  width: 500px;
  height: auto;
  background-color: auto;

  border-style: solid;
  border-radius: 0px;
  border-width: 0px;
  border-color: steelblue;

  padding-left: 4px;

  margin-top: 20px;
}

.imagem {
    height: auto;
    padding: 0px;
    text-align: center;
    color: #f1f1f1;
    margin-top: auto;
}

.mensagem {
    position: static;
    padding-top: 40px;
    width: 300mm;
    height: 250px;
    border-radius: auto;
    border-top-left-radius: 15px; /* Para evitar borda branca <20px */
    border-top-right-radius: 15px; /* Para evitar borda branca <20px */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

    background-image: url('../img/desenho1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #0d3553;
    background-blend-mode: overlay;

    /*background-image: radial-gradient(130% 30% ellipse at bottom, steelblue -10%,#0d3553 50%)*/

    /*background-color: rgb(82,136,217,0.5); /*https://www.rapidtables.com/convert/color/hex-to-rgb.html*/
    /*background-color: rgb(82,136,217); 0,63,68 ; 8,37,41*/
    /*opacity: 0.8; /*não funciona se tiver texto */
}

.mensagem-texto {
    position: static;
}

.destaque-branco {
    font: auto; /* caption */
    font-style: auto;
    font-size: 32px;
    font-weight: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 45px;
}

.destaque-amarelo {
    font-size: 25px;
    color: #cc9900;
}

main {
    position: static;
    width: 100%;
    margin: 0 auto;
    background-color: auto; /*#DDDDDD*/
}

.meio {
    width: 300mm;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;

    border-style: solid;
    border-radius: 20px;
    border-width: 0px;
    border-color: auto;

    background-color: #f1f1f1;
}

.atuacao {
    margin-left: auto;
    margin-top: auto;
    position: static;
    width: 30cm;
    height: 200px;
    background-color: auto;

    border-style: solid;
    border-width: 0px;
    border-top: 4px solid rgb(250,20,50);
    border-bottom: 0px solid red;
    /*border-color: #aaaaaa;*/
}

.atuacao::before{
    width: auto;
    height: 30px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

.atuacao-esquerda {
    position: static;
    float: left;
    margin-top: 20px;
    padding-left: 20px;
    width: 33.33%; /*325px*/
    height: 170px;
    display: inline-block;
    text-align: left;
    background-color: auto;
    color: #222222;
}

.atuacao-meio {
    position: static;
    float: left;
    margin-top: 20px;
    padding-left: 55px;
    padding-right: 55px;
    width: 33.33%; /*7.1cm*/
    height: 170px;
    display: inline-block;
    text-align: center;
    background-color: auto;
    color: #222222;
}

.atuacao-direita {
    position: static;
    float: right;
    margin-top: 20px;
    padding-right: 20px;
    width: 33.33%; /*auto*/
    height: 170px;
    display: inline-block;
    text-align: right;
    background-color: auto;
    color: #222222;
}

.servicos {
    position: static; /* nesse tipo posso usar left: 10px ou top: 10px para ajustar */
    width: 100%;
    background-color: auto;
}

.servicos h1{
    text-align: center;
    color: #333333;
}

.servicos-subtitulo {
    text-align: center;
}

main hr {
    font-size: 1px;
    width: 30mm;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

    border-style: solid;
    border-width: 2px;
    border-color: steelblue; /*#7D18FD*/
}

.servicos::before, .servicos::after{
    width: 100%;
    height: 30px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 2.3em;
  text-indent: -1.25em;
}

li:before {
  content: "\2713";
  padding-right: 4px;
  color: steelblue;
}

.serv-1 {
    width: 540px;
    float: left;
    background-color: auto;

    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
}

.serv-2 {
  position: static;
  float: auto;
  width: 450px;
  color: #234567;
  background-color: auto;

  display: block;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 0px;
}

.serv-3 {
  position: static;
  float: auto;
  width: 180px;
  height: 35px;

  margin-top: 10px;
  margin-bottom: 20px;

  padding-top: 5px;
  padding-left: 0px;

  border-style: solid;
  border-radius: 17.5px;
  border-width: 0px;
  border-color: #0d3553;
  background-color: auto;

  /*background-image: radial-gradient(130% 30% ellipse at bottom, steelblue -10%, #0d3553 50%)*/
}

.serv-3 a {
  color: blue;
  text-decoration: none;
}

.serv-3 a:hover {
  cursor: pointer;
}

.servicos-imagem {
    position: static;
    float: auto;
    width: 500px;
    height: 130px;

    display: block; /* para centralizar: block */
    margin-left: 20px; /* para centralizar: auto */
    margin-top: 20px; /* para centralizar: auto */
    margin-right: 0px;
    color: white;

    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.servicos-imagem1 {
    background-image: url('../img/img1.jpg');
    background-position: center;
}

.servicos-imagem2 {
    background-image: url('../img/img2.jpg');
}

.servicos-imagem3 {
    background-image: url('../img/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.servicos-imagem4 {
    background-image: url('../img/img4.jpg');
}

.servicos-imagem p {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-top: 10px;
    width: 195px;
    height: 55px;
    background-color: rgb(22, 70, 70, 0.9); /*51 51 51*/

    border-radius: 0px;
    border-top-left-radius: 10px;

    text-align: center;
}

.serv-descricao {
    position: static;
    float: left;
    width: 550px;

    display: inline-block; /* para centralizar: block */
    margin-left: 10px; /* para centralizar:auto*/
    margin-top: 0px; /* para centralizar:auto*/

    padding-top: 16px;
    padding-right: 20px;

    line-height: 27px;
    background-color: auto;
}

.bloco-texto {
    margin-top: 3em;
}

.h3 {
    font-weight: normal!important; /* O padrão de título h3 vem em negrito */
}

/* border-style: solid; */
/* border-width: 1px;  */
/* border-left-width: 1px; */
/* border-radius: 5px; */
/* border-color: #3366FF; */

.clientes {
    position: static;
    background-color: auto;
    text-align: center;
}

.clientes::before, .clientes::after{
    width: 100%;
    height: 30px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

.clientes h1 {
    text-align: center;
    color: #333333;
}

.clientes h1::after{
    width: 100%;
    height: 30px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

.clientes-1 {
  position: static;
  height: 3cm;
    width: 6cm;
    border-style: solid;
    border-width: 1px;
    border-left-width: auto;
    border-radius: 5px;
    border-color: #3366FF;
}

.rodape hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color:gray
}

.rodape {
    position: static;
    width: auto;
    height: auto;
    text-align: center;
    color: black; /* todo conteúdo adicionado aqui dentro */
    background-color: inherit;

}

.rodape::before{
    width: auto;
    height: 30px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

.rodape::after{
    width: auto;
    height: 10px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

.rodape h1::after{
    width: 100%;
    height: 30px;
    display: inline-block;
    content: '';
    margin: 0 auto;
    background-color: auto;
}

.rodape-texto {
  position: static;
  width: 250mm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  text-align: auto;
}

.rodape-atendimento {
  position: static;
  width: 9cm;
  height: 5cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: auto;
  color: #0d3553;
  text-align: center;
  line-height: 30px;

  padding-top: 0.5cm;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rodape2 {
    position: static;
    width: auto;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    color: #f1f1f1;
    background-color: #0d3553;

    border-style: solid;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-width: 0px;

    border-left-width: 0px;
    border-right-width: 0px;

    border-top-width: 2px;
    border-top-color: red;
}

.rodape-3 {
    position: static;
    width: 300mm;
    height: auto;
    background-color: inherit;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5mm;
    margin-bottom: 5mm;
    padding-left: 0px;
}

.icone {
  display: block;
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
}
