
.showcase {
    background-image: url('../img/portfolio/capa.jpg');
}

.portfolio {
    width: 100%;
    padding: 30px;
}

.portfolio-container div { /* para ajudar na visualização do flex */
    border: 0px #ccc solid;
    padding: 0px;
}

.areas-container {
    display: flex; /* lado a lado */
    flex-direction: row; /* eixo principal na horizontal */
    justify-content: space-between; /* na horizontal */
    align-items: stretch; /* na vertical */
    align-content: center;
    flex-wrap: nowrap;
}

/*.portfolio-metade {
    width: 50%;
    float: left;
    background-color: auto;
    display: inline-block;
    margin-right: auto;
}*/

.portfolio-box-1 {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.portfolio-imagem {
    max-width: 520px;
    min-width: 450px;
    height: 350px;
    border-radius: 10px;

    /* para preencher o espaço das bordas */
    background-color: white;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.portfolio-imagem1 {
    background-image: url('../img/portfolio/p1.gif');
}

.portfolio-imagem2 {
    background-image: url('../img/portfolio/p2.gif');
}

.portfolio-imagem3 {
    background-image: url('../img/portfolio/p3.gif');
}

.portfolio-imagem4 {
    background-image: url('../img/portfolio/p4.gif');
}

.portfolio-imagem5 {
    background-image: url('../img/portfolio/p5.png');
}

.portfolio-chaves {
    color: #234567;
    text-align: center;
    max-width: 520px;
}

/* Efeito carrossel */
.quadro {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 550px;
}

.quadro p {
    text-align: center;
    font-size: 1em;
    color: #aaaaaa;
    margin-top: 10px;
}

.carrosel img { /* não definir aqui width e height */
    border-radius: 10px;
}

.quadro-interno {
    position: relative;
    width: 520px; /* mesmo de img */
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white; /* branco para tirar o efeito de arrendodamento das imagens */
}

.carrosel {
    display:inline-flex;
    transition:all 1s; /* para o efeito de deslizar */
}

.botoes {
    /* fazer depois */
    text-align: center;
    max-width: 520px;
}

.botoes button {
    width: 15px;
    height: 15px;
    border: 1px solid steelblue;
    outline: none;
    background-color: auto; /* no tutorial: transparent */
    border-radius: 7.5px;
    margin-top: 22px;
    margin-left: 15px;
    cursor: pointer;
    transition: all 1s; /* para o efeito de deslizar */
}

.botoes button:nth-child(1) {
    background-color: steelblue;
}
